[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

colorama = "*"
pyyaml = "*"
toml = "*"

[dev-packages]

pytest = "*"
"pytest-runner" = "*"
coverage = "*"
sphinx = "*"
"sphinx-rtd-theme" = "*"
twine = "*"
wheel = "*"