[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

alabaster = "*"
babel = "*"
colorama = "*"
docutils = "*"
pygments = "*"
pytz = "*"
pyyaml = "*"
snowballstemmer = "*"
sphinx = "*"
"sphinx-rtd-theme" = "*"


[dev-packages]
pytest = "*"
"pytest-runner" = "*"
coverage = "*"
